/* line 13, ../sass/_buttons.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 19, ../sass/_buttons.scss */
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  position: relative;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
}
/* line 35, ../sass/_buttons.scss */
.btn + .btn {
  margin-top: 1rem;
}
/* line 39, ../sass/_buttons.scss */
.btn span {
  position: relative;
  z-index: 1;
}
/* line 44, ../sass/_buttons.scss */
.btn:before {
  content: "";
  background-color: #21D4FD;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(4) translateX(-100%);
  transition: all 495ms ease-out;
}
/* line 59, ../sass/_buttons.scss */
.btn:hover:before, .btn:focus:before, .btn:active:before {
  transform: scale(4) translate(37%);
}

/* line 67, ../sass/_buttons.scss */
.btn--alpha {
  background-color: #4c4f5a;
  color: #ff8a00;
}
/* line 71, ../sass/_buttons.scss */
.btn--alpha:before {
  background-color: #ff8a00;
  background-image: linear-gradient(to right, #ff8a00 30%, #4c4f5a 100%);
  position: absolute;
}
/* line 77, ../sass/_buttons.scss */
.btn--alpha:hover, .btn--alpha:focus, .btn--alpha:active {
  color: #da1b60;
}

/* line 10, ../sass/_radio.scss */
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 400 1.35rem sans-serif;
  color: #7a7a8c;
}

/* line 21, ../sass/_radio.scss */
a {
  text-decoration: none;
  color: #7a7a8c;
  font-size: 0.675rem;
}

/* line 27, ../sass/_radio.scss */
.container {
  position: relative;
  padding: 0.675rem;
  display: flex;
  min-width: 400px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.45rem;
  background-color: #1d1e22;
  box-shadow: 0 5px 30px rgba(1, 1, 1, 0.3);
}
/* line 39, ../sass/_radio.scss */
.container .name {
  margin-bottom: 0.675rem;
  display: flex;
  justify-content: flex-end;
}
/* line 44, ../sass/_radio.scss */
.container .name h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: normal;
  color: #dadadf;
  transform: scale(0);
  transform-origin: 100% 50%;
  transition: transform 500ms ease;
}
/* line 56, ../sass/_radio.scss */
.container svg {
  width: 1.35rem;
  height: 1.35rem;
}
/* line 60, ../sass/_radio.scss */
.container svg.gear {
  order: 1;
  margin-left: 1.35rem;
  cursor: help;
}
/* line 65, ../sass/_radio.scss */
.container svg.gear:hover ~ h4 {
  transform: scale(1);
}

/* line 72, ../sass/_radio.scss */
.btn {
  left: 50%;
  transform: translateX(-50%);
}
/* line 76, ../sass/_radio.scss */
.btn a {
  margin: auto 1.35rem;
}

/* line 83, ../sass/_radio.scss */
label {
  position: relative;
  margin: 0.675rem 1.35rem;
  display: flex;
  width: auto;
  align-items: center;
  cursor: pointer;
}

/* line 92, ../sass/_radio.scss */
.check {
  margin-right: 7px;
  width: 1.35rem;
  height: 1.35rem;
}
/* line 97, ../sass/_radio.scss */
.check #border {
  fill: none;
  stroke: #7a7a8c;
  stroke-width: 3;
  stroke-linecap: round;
}
/* line 104, ../sass/_radio.scss */
.check #dot {
  fill: url(#gradient);
  transform: scale(0);
  transform-origin: 50% 50%;
}

/* line 111, ../sass/_radio.scss */
input {
  display: none;
}
/* line 114, ../sass/_radio.scss */
input:checked + label {
  background: linear-gradient(180deg, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 120, ../sass/_radio.scss */
input:checked + label svg #border {
  stroke: url(#gradient);
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  animation: checked 500ms ease forwards;
}
/* line 127, ../sass/_radio.scss */
input:checked + label svg #dot {
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

@keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}
/* line 1, ../sass/_background.scss */
body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), rgba(0, 0, 0, 0)), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), rgba(0, 0, 0, 0));
}

/* line 8, ../sass/_background.scss */
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/_background.scss */
a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

/* line 22, ../sass/_background.scss */
a:hover {
  color: #fff;
}

/* line 5, ../sass/style.scss */
body {
  overflow: hidden;
}

/* line 9, ../sass/style.scss */
.success-bg {
  background: #3fa133;
  background: linear-gradient(90deg, #3fa133 0%, #00c65c 34%, #38ff00 100%);
  color: black;
}

/* line 15, ../sass/style.scss */
.fail-bg {
  background: red;
  background: linear-gradient(90deg, red 0%, #c60000 58%, #ff9e00 100%);
  color: black;
}

/* line 21, ../sass/style.scss */
.center-me {
  text-align: center;
  align-content: center;
}

/* line 26, ../sass/style.scss */
.result {
  margin: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  position: relative;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
}
/* line 43, ../sass/style.scss */
.result + .result {
  margin-top: 1rem;
}
/* line 47, ../sass/style.scss */
.result span {
  position: relative;
  z-index: 1;
}
